
// 品牌色
$main: #eb4f38;
// 品牌渐变色
$main-light: #F8533B;
$main-deep: #D14632;
$main-dark: #7F2B1E;
// 品牌色反色
$reverse-light: #38EB97;
$reverse-deep: #069E57;
// 其他常用色
// 白色系
$white: #eee;
$white-light: #fff;
$white-light: #ddd;
// 黑色系
$black: #111;
$black-light: #333;
$black-deep: #000;
// 灰色系
$gray: #888;
$gray-light: #777;
$gray-deep: #999;
