
// 品牌色
$main: #ee4f54;
// 品牌渐变色
$main-light: #FB5358;
$main-deep: #D4474B;
$main-dark: #AE3A3D;
// 品牌色反色
$reverse-light: #4FEE79;
$reverse-deep: #15A13A;
// 其他常用色
// 白色系
$white: #eee;
$white-light: #fff;
$white-light: #ddd;
// 黑色系
$black: #111;
$black-light: #333;
$black-deep: #000;
// 灰色系
$gray: #888;
$gray-light: #777;
$gray-deep: #999;
